<div>
  <h2>Formulario de Resultados</h2>
  <div id="form">
    <div>
      <label for="pacientes">Paciente:</label>
      <select id="pacientes" [(ngModel)]="pacientes">
        <option *ngFor="let paciente of pacientesList" [ngValue]="paciente._id">{{ paciente.Nombre }}</option>
      </select>
    </div>

    <div>
      <label for="examen">Examen:</label>
      <select id="examen" [(ngModel)]="examen">
        <option *ngFor="let exam of examenesList" [ngValue]="exam._id">{{ exam.descripcion }}</option>
      </select>
    </div>

    <div>
      <label for="resultadoExamen">Resultado del Examen:</label>
      <input type="text" id="resultadoExamen" [(ngModel)]="resultadoExamen">
    </div>

    <div>
      <label for="valorPagado">Valor Pagado:</label>
      <input type="number" id="valorPagado" [(ngModel)]="valorPagado">
    </div>

    <div>
      <label for="observaciones">Observaciones:</label>
      <textarea id="observaciones" [(ngModel)]="observaciones"></textarea>
    </div>

    <div>
      <button (click)="guardarResultado()">Guardar</button>
      <button (click)="limpiarFormulario()">Limpiar</button>
      
    </div>

    <div>
      <button (click)="obtenerResultadosActivos()">Resultados Activos</button>
      <button (click)="obtenerResultadosEliminados()">Resultados Eliminados</button>
      <button (click)="obtenerResultadosAmbos()">Todos los Resultados</button>
    </div>
  </div>

  <h2>Lista de Resultados</h2>
  <table>
    <thead>
      <tr>
        <th>Paciente</th>
        <th>Examen</th>
        <th>Resultado</th>
        <th>Valor Pagado</th>
        <th>Observaciones</th>
        <th>Funciones</th>
        <th>Restaurar</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resultado of resultados">
        <td>{{ resultado.pacientes }}</td>
        <td>{{ resultado.examen }}</td>
        <td>{{ resultado.ResultadoExamen }}</td>
        <td>{{ resultado.ValorPagado }}</td>
        <td>{{ resultado.Observaciones }}</td>
        <td>
          <button (click)="editarResultado(resultado)">Editar</button>
          <button (click)="eliminarResultado(resultado._id)">Eliminar</button>
        </td>
        <td>
          <button *ngIf="resultado.eliminado" (click)="restaurarResultado(resultado._id)">Restaurar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
